<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Config\Model\Config\TypePool">
        <arguments>
            <argument name="sensitive" xsi:type="array">
                <item name="payment/forumpay/merchant_api_user" xsi:type="string">1</item>
                <item name="payment/forumpay/merchant_api_secret" xsi:type="string">1</item>
            </argument>
        </arguments>
    </type>
    <preference for="ForumPay\PaymentGateway\Api\GetCurrencyRateInterface" type="ForumPay\PaymentGateway\Model\GetCurrencyRate" />
    <preference for="ForumPay\PaymentGateway\Api\GetCurrencyListInterface" type="ForumPay\PaymentGateway\Model\GetCurrencyList" />
    <preference for="ForumPay\PaymentGateway\Api\StartPaymentInterface" type="ForumPay\PaymentGateway\Model\StartPayment" />
    <preference for="ForumPay\PaymentGateway\Api\CheckPaymentInterface" type="ForumPay\PaymentGateway\Model\CheckPayment" />
    <preference for="ForumPay\PaymentGateway\Api\CancelPaymentInterface" type="ForumPay\PaymentGateway\Model\CancelPayment" />
    <preference for="ForumPay\PaymentGateway\Api\WebhookInterface" type="ForumPay\PaymentGateway\Model\Webhook" />
    <preference for="ForumPay\PaymentGateway\Api\RestoreCartInterface" type="ForumPay\PaymentGateway\Model\RestoreCart" />
    <preference for="ForumPay\PaymentGateway\Api\PingInterface" type="ForumPay\PaymentGateway\Model\Ping" />
</config>
